# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files to ensure correct line endings.
*.sh text eol=lf
*.js text eol=lf
*.vue text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.md text eol=lf
